<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a a asp-controller="Home" asp-action="Index"><i class="fas fa-coffee"></i> The Space Coffee</a>
                    </div>
                    <p>Đây là một nơi ấm cúng, là nơi mà mọi người đến để gặp gỡ, chia sẻ về cà phê, bánh ngọt và các bữa ăn nhẹ.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="footer__widget">
                    <h6>Các liên kết nhanh</h6>
                    <ul>
                        <li><a asp-controller="Products" asp-action="Index">Sản phẩm</a></li>
                        <li><a asp-controller="News" asp-action="Index">Tin tức</a></li>
                        <li><a asp-controller="About" asp-action="Index">Về chúng tôi</a></li>
                        <li><a asp-controller="Contact" asp-action="Index">Liên hệ</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="footer__newslatter">
                    <h6>Thông tin liên hệ</h6>
                    <div class="footer__contact">
                        <a href="/" target="_blank"><i class="fas fa-location-arrow"></i> Số 3 phố Cầu Giấy, P.Láng Thượng, Q.Đống Đa, Hà Nội</a>
                        <a href="/"><i class="fas fa-phone"></i>  1900 2398</a>
                        <a href="/"><i class="fas fa-envelope"></i> mail@gmail.com</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="footer__newslatter">
                    <h6>Theo dõi chúng tôi</h6>
                    <div class="footer__social">
                        <a href="/" title="Facebook" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="/" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="/" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="/" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
