USE [master]
GO
/****** Object:  Database [CuaHangCafe]    Script Date: 2/26/2025 9:27:54 PM ******/
CREATE DATABASE [CuaHangCafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CuaHangCafe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CuaHangCafe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CuaHangCafe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CuaHangCafe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CuaHangCafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CuaHangCafe]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/26/2025 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbChiTietHoaDonBan]    Script Date: 2/26/2025 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbChiTietHoaDonBan](
	[MaHoaDon] [uniqueidentifier] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[GiaBan] [money] NULL,
	[GiamGia] [int] NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [money] NULL,
 CONSTRAINT [PK__tbChiTie__52F2A93ED9FFE6AD] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC,
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbHoaDonBan]    Script Date: 2/26/2025 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbHoaDonBan](
	[MaHoaDon] [uniqueidentifier] NOT NULL,
	[SoHoaDon] [nvarchar](14) NOT NULL,
	[NgayBan] [datetime] NULL,
	[TongTien] [money] NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK__tbHoaDon__835ED13BE78BDB82] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbKhachHang]    Script Date: 2/26/2025 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbKhachHang](
	[Id] [uniqueidentifier] NOT NULL,
	[TenKhachHang] [nvarchar](50) NOT NULL,
	[SDTKhachHang] [nvarchar](10) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__tbKhachH__3214EC0779854367] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbNhomSanPham]    Script Date: 2/26/2025 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbNhomSanPham](
	[MaNhomSP] [int] IDENTITY(1,1) NOT NULL,
	[TenNhomSP] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__tbNhomSa__5A1AD2F985F055E7] PRIMARY KEY CLUSTERED 
(
	[MaNhomSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPhanHoi]    Script Date: 2/26/2025 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPhanHoi](
	[MaPhanHoi] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](50) NOT NULL,
	[SoDienThoai] [nvarchar](10) NULL,
	[NoiDung] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbQuanTriVien]    Script Date: 2/26/2025 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbQuanTriVien](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiDung] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbSanPham]    Script Date: 2/26/2025 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSanPham](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](255) NOT NULL,
	[GiaBan] [money] NULL,
	[MoTa] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[MaNhomSP] [int] NOT NULL,
 CONSTRAINT [PK__tbSanPha__FAC7442DA6D9D8DC] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTinTuc]    Script Date: 2/26/2025 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTinTuc](
	[MaTinTuc] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[NgayDang] [date] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](max) NULL,
 CONSTRAINT [PK__tbTinTuc__B53648C018B441C9] PRIMARY KEY CLUSTERED 
(
	[MaTinTuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tbChiTietHoaDonBan_MaHoaDon]    Script Date: 2/26/2025 9:27:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_tbChiTietHoaDonBan_MaHoaDon] ON [dbo].[tbChiTietHoaDonBan]
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tbHoaDonBan_CustomerId]    Script Date: 2/26/2025 9:27:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_tbHoaDonBan_CustomerId] ON [dbo].[tbHoaDonBan]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbHoaDon__012E9E53087434A1]    Script Date: 2/26/2025 9:27:54 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__tbHoaDon__012E9E53087434A1] ON [dbo].[tbHoaDonBan]
(
	[SoHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tbSanPham_MaNhomSP]    Script Date: 2/26/2025 9:27:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_tbSanPham_MaNhomSP] ON [dbo].[tbSanPham]
(
	[MaNhomSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbChiTietHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK__tbChiTiet__MaHoa__440B1D61] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[tbHoaDonBan] ([MaHoaDon])
GO
ALTER TABLE [dbo].[tbChiTietHoaDonBan] CHECK CONSTRAINT [FK__tbChiTiet__MaHoa__440B1D61]
GO
ALTER TABLE [dbo].[tbChiTietHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK__tbChiTiet__MaSan__44FF419A] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[tbSanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[tbChiTietHoaDonBan] CHECK CONSTRAINT [FK__tbChiTiet__MaSan__44FF419A]
GO
ALTER TABLE [dbo].[tbHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK__tbHoaDonB__Custo__45F365D3] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[tbKhachHang] ([Id])
GO
ALTER TABLE [dbo].[tbHoaDonBan] CHECK CONSTRAINT [FK__tbHoaDonB__Custo__45F365D3]
GO
ALTER TABLE [dbo].[tbSanPham]  WITH CHECK ADD  CONSTRAINT [FK__tbSanPham__MaNho__46E78A0C] FOREIGN KEY([MaNhomSP])
REFERENCES [dbo].[tbNhomSanPham] ([MaNhomSP])
GO
ALTER TABLE [dbo].[tbSanPham] CHECK CONSTRAINT [FK__tbSanPham__MaNho__46E78A0C]
GO
USE [master]
GO
